
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="http://www.kebue.com//images/kebue.ico">
    <link rel="icon" href="http://www.kebue.com//images/kebue.ico">
    <title>科布尔，科技社区,科布尔分享知识</title>
    <link href="~/Home/css/home-styles.css" rel="stylesheet" />
</head>
<body>
    <div class="demo-wrapper">
        <div class="dashboard clearfix">
            <div class="col1 clearfix">
                <div class="big todos-thumb">
                    <p>
                        机器人-问答社区
                        <span class="todos-thumb-span">科布尔-科小智机器人</span>
                    </p>
                </div>
            </div>
            <div class="col2 clearfix">
                <div class="big weather-thumb" data-page="todos">
                    <p>
                        工具
                        <span class="todos-thumb-span">JS/CSS/Html调试</span>
                    </p>
                </div>
            </div>
            <div class="col3 clearfix">
                <div class="big organizer-thumb" data-page="random-page"><span class="icon-font" aria-hidden="true" data-icon="&#xe015;"></span><p>博客</p></div>
            </div>
        </div>
        <div style="margin:0 auto; width:800px; height:100px; ">
            <!-- 版权信息 -->
            <h4 style="font-weight: bold; border-bottom: solid 1px #999; padding-bottom: 5px;">关于本站</h4>
            <br />
            <p>
                Copyright © 2016-2116
                Power by <a href="http://icp.chinaz.com/info?q=%E9%99%95ICP%E5%A4%8715014626%E5%8F%B7" target="_blank">科布尔</a>
                <a href="http://www.miibeian.gov.cn" target="_blank" title="陕ICP备15014626号-2" _href="http://www.miibeian.gov.cn">陕ICP备15014626号-2</a>
                <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=6132f5422023914b0c3a0c7cb83484f07b233b337ff2d31004acf3afdd4fef52"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt=".Net Core 研究院" title=".Net Core 研究院"></a>
                <a href="mailto:admin@kebue.com" title="admin@kebue.com">我的邮箱</a>
            </p>
            <br /><br />
            <!-- 版权信息结束 -->
        </div>
    </div>

    <!--====================================end demo wrapper================================================-->
    <script src="~/Home/js/jquery-1.8.2.min.js"></script>
    <script src="~/Home/js/modernizr-1.5.min.js"></script>
    <script src="~/Home/js/prefixfree.min.js"></script>
    <script src="~/Home/js/home.js"></script>
</body>
</html>