
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="http://www.kebue.com//images/kebue.ico">
    <link rel="icon" href="http://www.kebue.com//images/kebue.ico">
    <meta name="360-site-verification" content="a0f08547017fe3a164672f0ee698a887" />
    <meta name="360-site-verification" content="b355f65d6b0c58c4cd91881bf2faa5d6" />
    <meta name="keywords" content="科布尔，老司机导航，是程序员的搜索第一站，科小智,机器人,智能机器人，科技社区,科布尔是一个面向开发者的知识分享社区" />
    <title>科布尔，科技社区,科布尔分享知识</title>
    <meta name="Title" content="科布尔，科小智,机器人,智能机器人，科技社区,科布尔是一个面向开发者的知识分享社区">
    <meta name="Description" content="科布尔，科小智,机器人,智能机器人，科技社区,科布尔是一个面向开发者的知识分享社区">
    <link href="~/Home/css/home-styles.css" rel="stylesheet" />
    <style>
        #toolStyle a {
            text-decoration: none;
            color: white;
        }

            #toolStyle a:hover {
                color: red;
                font-weight: 900;
            }
    </style>
</head>
<body class="gradient">
        <div class="dashboard clearfix" style="margin-top:0px;padding-top:0px">
            <div class="col-lg-2 big  weather-thumb cSearch" data-page="random-page"><span class="icon-font" aria-hidden="true" data-icon="&#xe001;"></span><p> 老司机网址导航</p></div>
            <div class="col-lg-4 big todos-thumb cChat"><p>机器人-问答社区 <span class="todos-thumb-span">科布尔-科小智机器人</span> </p></div>
            <div class="col-lg-4 big weather-thumb" data-page="todos">
                <p id="toolStyle">
                    <a href="Home/HtmlRunTest">HTML 运行</a>&nbsp;&nbsp;|
                    <a href="http://www.robot.kebue.com/Home/Phantom">爬虫&截屏</a>&nbsp;&nbsp;|
                    <a href="http://tx.kebue.com/Home/PeopleFlashRun">PeopleFlashRun</a>
                </p>
            </div>
            <div class="col-lg-4 big organizer-thumb" data-page="random-page"><span class="icon-font" aria-hidden="true" data-icon="&#xe015;"></span><p>博客</p></div>
            <div class="col-lg-2 small alarm-thumb" data-page="random-page"><span class="icon-font" aria-hidden="true" data-icon="&#xe009;"></span></div>
            <div class="col-lg-2 small last favorites-thumb" data-page="random-page"><span class="icon-font" aria-hidden="true" data-icon="&#xe018;"></span></div>
            <div class="col-lg-2 big games-thumb" data-page="random-page"><span class="icon-font" aria-hidden="true" data-icon="&#xe002;"></span><p>WEB钢琴</p></div>
            <div class="col-lg-2 small git-thumb" data-page="random-page"><span class="icon-font" aria-hidden="true" data-icon="&#xe010;"></span></div>
            <div class="col-lg-2 small last code-thumb" data-page="random-page"><span class="icon-font" aria-hidden="true" data-icon="&#xe011;"></span></div>



            <id id="whale"></id>
            <br /><br /><hr />
            <a class="item g-fc3 g-fc23h" href="http://so.kebue.com/Admin/Home/Index">后台管理</a>
        </div>
        <br />
        <div style="margin:0 auto; width:800px;">
            <!-- 版权信息 -->
            <h4 style="font-weight: bold; border-bottom: solid 1px #999; padding-bottom: 5px;">关于本站</h4>
            <br />
            <p>
                Copyright © 2016-2116
                Power by @*<a href="http://icp.chinaz.com/info?q=%E9%99%95ICP%E5%A4%8715014626%E5%8F%B7" target="_blank">科布尔</a>*@
                <a href="http://www.miibeian.gov.cn" target="_blank" title="陕ICP备15014626号-2" _href="http://www.miibeian.gov.cn">陕ICP备15014626号-2</a>
                <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=6132f5422023914b0c3a0c7cb83484f07b233b337ff2d31004acf3afdd4fef52"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt=".Net Core 研究院" title=".Net Core 研究院"></a>
                <a href="mailto:admin@kebue.com" title="admin@kebue.com">我的邮箱</a>
            </p>
            <!-- 版权信息结束 -->
        </div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1261990464'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1261990464%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>


    <script src="~/Home/js/Whale.js"></script>
    <!--====================================end demo wrapper================================================-->
    <script src="~/Home/js/jquery-1.8.2.min.js"></script>
    <script src="~/Home/js/modernizr-1.5.min.js"></script>
    <script src="~/Home/js/prefixfree.min.js"></script>
    <script src="~/Home/js/home.js"></script>
</body>
</html>
<a href="http://webscan.360.cn/index/checkwebsite/url/kebue.com" name="e2947593a12ab861115af1aeb9b9ba79">360网站安全检测平台</a>