
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="http://www.kebue.com//images/kebue.ico">
    <link rel="icon" href="http://www.kebue.com//images/kebue.ico">
    <title>科布尔，科技社区,科布尔分享知识</title>
    <meta name="Title" content="科布尔，科小智,机器人,智能机器人，科技社区,科布尔是一个面向开发者的知识分享社区">
    <link href="~/Home/css/home-styles.css" rel="stylesheet" />
</head>
<body class="gradient">
    <id id="whale"></id>
    <script src="~/Home/js/Whale.js"></script>
</body>
</html>