
@{
    ViewBag.Title = "求爱❤";
    ViewBag.Music = "Trip Road.mp3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  
<div id="ILoveYou"></div>
<script src="~/Content/Resources/js/Stars.js"></script>