body {
    background: -moz-radial-gradient(center center,circle,#FFF8DC,#FFFFF0,#FF69B4);
    background: -webkit-radial-gradient(center center,circle,#FFF8DC,#FFFFF0,#FF69B4);
    background: -o-radial-gradient(center center,circle,#FFF8DC,#FFFFF0,#FF69B4);
    background: -ms-radial-gradient(center center,circle,#FFF8DC,#FFFFF0,#FF69B4);
    background: radial-gradient(center center,circle,#FFF8DC,#FFFFF0,#FF69B4);
}
/*#Idfooter {
        position: absolute;
        width: 100%;
        height: 50px;
        text-align: center;
        background: #171717;
        border: 2px solid #484848;
    }*/