<footer id="zan-footer">
    <div style="height:300px">
        <!-- 版权信息 -->
        <div class="col-lg-4" style="padding-left: 0;">
            <h4 style="font-weight: bold; border-bottom: solid 1px #999; padding-bottom: 5px;">关于本站</h4>
            <p>Copyright © 2016-2116 <a href="http://www.kebue.com">科布尔</a></p>
            <p><a href="http://www.miibeian.gov.cn" target="_blank" title="陕ICP备15014626号-2" _href="http://www.miibeian.gov.cn">陕ICP备15014626号-2</a></p>
            <p>Power by <a href="http://icp.chinaz.com/info?q=%E9%99%95ICP%E5%A4%8715014626%E5%8F%B7" target="_blank">科布尔</a></p>
        </div>
        <div class="col-lg-4" style="padding-left: 0px; text-align: center; min-height: 165px; position: relative;">
            <p style="width: 170px; height: 50px; overflow: hidden; position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -85px;"></p>
        </div>
        <div class="col-lg-4" style="padding-left: 0px;">
            <h4 style="font-weight: bold; border-bottom: solid 1px #999; padding-bottom: 5px;">联系我们</h4>
            <p>
                C#.NET,Net Core技术群：<a href="http://jq.qq.com/?_wv=1027&k=2DMzHE6" target="_blank" _href="http://jq.qq.com/?_wv=1027&k=2DMzHE6">428549376</a>
                <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=6132f5422023914b0c3a0c7cb83484f07b233b337ff2d31004acf3afdd4fef52"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt=".Net Core 研究院" title=".Net Core 研究院"></a>
            </p>
            <p>邮箱：admin@kebue.com</p>
        </div>
        <!-- 版权信息结束 -->
    </div>
    <div class="margin-center">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260373153'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260373153%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script></div>
</footer>
